
header, .menu {

    background-color: #166b67;
}


.titulo h1::after {
    content: "";
    display: inline-block;
    width: 45px; 
    height: 45px; 
    background-image: url('../Imagens/empreendedor.png'); 
    background-size: cover; 
    margin-left: 10px;
}
article {

    background-color: #01b2b5;
}
.texto h1 {

    text-align: center;
}

#formulario, body {

    background-color: #40E0D0;
}

footer {

    background-color: #008B8B;
}

